torch 
torchvision 
transformers 
datasets 
matplotlib 
scikit-learn 
networkx 
wandb
torch-scatter 
torch-sparse 
torch-geometric -f https://data.pyg.org/whl/torch-1.10.0+cu113.html
fastapi
uvicorn
pillow
pydantic